/* banner section */

.container img{
    
}

.banner-title {
    text-align: center;
    position: absolute;
    top: 177px;
    left: 530px;
    right: 531px;
    transform: translate(-50%, -50%);
    color: #FFF;



}

.banner-greating {
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    font-family: Merriweather;
    position: absolute;
}

.banner {}

.discoount {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.discoount-des {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ca {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.container {
    position: relative;
    text-align: center;
  }